body { background: #484466; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 50px; display: flex; }
.block-payment-0 { color: #90bf44; font-size: 21px; margin-bottom: 5px; }
.block-product-1 { color: #ceaafd; font-size: 20px; margin-bottom: 5px; }
.block-token-2 { color: #3ef546; font-size: 15px; margin-bottom: 5px; }
.block-filter-3 { color: #34a18b; font-size: 21px; margin-bottom: 5px; }
.block-shipping-4 { color: #8dee4a; font-size: 16px; margin-bottom: 5px; }